<div class="banner"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                       url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">

<h2> <%= @cocktail.name.capitalize %> </h2>
</div>

<div class="container">
  <div id="show_content">
    <div id="dose_logic">


       <%= render 'doses/list' %>



       <%= render 'reviews/list' %>


      <div id="review_form">
        <%= render 'reviews/new' %>
      </div>

    </div>

    <div id="dose_form">
      <%= render 'doses/new' %>
    </div>
  </div>





<% if policy(@cocktail).edit? %>
  <%= link_to "edit", edit_cocktail_path(@cocktail.id)  %>
<% end %>
<%= link_to "Back to index", cocktails_path  %>

</div>

